html,body,#appã€€{
	height: 100%;
	margin:  0;
	padding: 0;
}
#app {
	min-width: 1366px;
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 16px;
}
.el-card {
	box-shadow: 0 1px 1px rgba(0,0,0,0.15)!important;
}
.el-table {
	margin-top: 15px;
}
.el-pagination {
	margin-top: 10px;
}
.el-cascader-menu {
	height: 350px;
}
.el-steps {
	margin: 15px 0;
}
.quill-editor {
	height: 300px;
	margin-bottom: 30px;
}